# macOS system files
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcuserdatad/
*.xcscmblueprint

# Swift Package Manager
/.swiftpm
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs & crash reports
*.log
*.crash

# Configs and keys
**/config.json

# Graphics & Plots
**/*.pdf
**/*.txt

# Checkpoints & Models
**/*.pth
**/*.safetensors
**/checkpoints/
**/model_checkpoints/
**/Llama-*/
**/gpt2*/

# Datasets
**/*.zip
**/*.csv
**/dataset*/
**/aclImdb*/

# Tokenizer files
**/bpe_merges.txt
**/encoder.json
**/vocab.*

# Other project-specific files
**/.chainlit/
**/chainlit.md
**/.files
*.lock

# Temporary OS-related files
.DS_Store

# Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution/Packaging
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Databases & Django/Flask stuff
*.sqlite3
*.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# Environments
.env
.venv
venv/
ENV/

# Type Checking & Linting
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# Misc
/site
