# Created by venv; see https://docs.python.org/3/library/venv.html
# Thư mục môi trường ảo Python
venv/
*.env
.env/
*.pyc
__pycache__/
# Tệp và thư mục của hệ thống IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Các tệp hệ thống của macOS
.DS_Store

# Các tệp log
*.log