# Tệp và thư mục của hệ thống IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Các tệp hệ thống của macOS
.DS_Store

# Các tệp log
*.log
# Thư mục môi trường ảo Python
venv/
*.env
.env/
*.pyc
__pycache__/